@tailwind base;
@tailwind components;
@tailwind utilities;

:root { --bg: theme(colors.slate.50); }
html, body { height: 100%; }
body {
  background: radial-gradient(1200px 600px at 20% 0%, rgba(0,37,84,0.25), transparent 60%),
              linear-gradient(to bottom, var(--bg), white);
}
